.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    position: fixed;
    top: 0;
    width:100%;
    height: 44px;
    padding: 40px 18px;
    z-index: 1000;
    background-color: #C2C0BF;
}

.logo {
  height: 60px;
  padding: 10px;
  background-color: #C2C0BF;
}